[submodule "reactor/jbosgi-framework"]
	path = reactor/jbosgi-framework
	url = git://github.com/jbosgi/jbosgi-framework.git
[submodule "reactor/jbosgi-vfs"]
	path = reactor/jbosgi-vfs
	url = git://github.com/jbosgi/jbosgi-vfs.git
