[submodule "reactor/jbosgi-framework"]
	path = reactor/jbosgi-framework
	url = git://github.com/jbosgi/jbosgi-framework.git
[submodule "reactor/jbosgi-spi"]
	path = reactor/jbosgi-spi
	url = git://github.com/jbosgi/jbosgi-spi.git
[submodule "reactor/jbosgi-resolver"]
	path = reactor/jbosgi-resolver
	url = git://github.com/jbosgi/jbosgi-resolver.git
