#
# A sample ant properties file
#
# $Id: ant.properties.example 3995 2007-07-26 08:52:45Z thomas.diesler@jboss.com $

# Tomcat settings
tomcat.base=/usr/share/tomcat6
tomcat.conf=/etc/tomcat6/tomcat6.conf

# SCM settings
# ------------
scm.git.url.jbosgi=git://github.com/jbosgi/jbosgi.git
scm.http.url.jbosgi=http://github.com/jbosgi/jbosgi

# The Hudson OSGi TCK checkout URL
osgitck.svn.url=https://www.osgi.org/members/svn/build/trunk
osgitck.core.svn.url=https://www.osgi.org/members/svn/build/tags/r4v42-core-cmpn-final

# JDK settings
# ------------
java.home.jdk15=/usr/java/jdk1.5.0_22
java.home.jdk16=/usr/java/jdk1.6.0_17

# Maven settings
# --------------
maven.name=apache-maven-2.2.1
maven.path=/usr/java/apache-maven-2.2.1

# The JBoss settings
# ------------------
jboss.server.instance=default
jboss.bind.address=127.0.0.1

# Hudson Default settings
# -----------------------
# hudson.root=/home/username/workspace/hudson/jboss-osgi
# hudson.admin=username
# hudson.version=1.355

# hudson.jboss501.zip=file:///home/username/Download/java/jboss/jboss-5.0.1.GA.zip
# hudson.jboss510.zip=file:///home/username/Download/java/jboss/jboss-5.1.0.GA.zip
# hudson.jboss600.zip=file:///home/username/Download/java/jboss/jboss-6.0.0.M2.zip