#
# A sample ant properties file
#

# Tomcat settings
tomcat.base=/usr/share/tomcat6
tomcat.conf=/etc/tomcat6/tomcat6.conf

# SCM settings
# ------------
scm.git.url.jbosgi=git://github.com/jbosgi/jbosgi.git
scm.http.url.jbosgi=http://github.com/jbosgi/jbosgi

# JDK settings
# ------------
java.home.jdk16=/usr/java/jdk1.6.0_25

# Maven settings
# --------------
maven.name=apache-maven-3.0
maven.path=/usr/java/apache-maven

# The JBoss settings
# ------------------
jboss.bind.address=127.0.0.1

# Hudson Default settings
# -----------------------
hudson.home=/usr/share/tomcat6/workspace/hudson-home
hudson.version=1.382
github.plugin.version=0.2
git.plugin.version=1.1

#hudson.admin=username
