#
# A sample ant properties file
#
# 
# The JBoss OSGi framework version
framework.version=1.0.0.Alpha15-SNAPSHOT

# The aQute Bnd version 
aQute.bnd.version=0.0.365.SP1

# The location of the OSGi TCK
# tck.checkout.dir=/home/yourname/git/osgitck

# TCK user
# username=yourname
