#
# A sample ant properties file
#
# 

# Versions 
aQute.bnd.version=0.0.365.SP1
framework.version=1.0.0.CR7-SNAPSHOT

# The location of the OSGi TCK
# tck.checkout.dir=/home/yourname/git/osgitck

# TCK user
# username=yourname
