#
# A sample ant properties file
#
# $Id: ant.properties.example 3995 2007-07-26 08:52:45Z thomas.diesler@jboss.com $

# The JBoss OSGi framework version
framework.version=1.0.0.Alpha8-SNAPSHOT

# The aQute Bnd version 
aQute.bnd.version=0.0.366-SNAPSHOT

# The location of the OSGi TCK
# tck.checkout.dir=/home/yourname/svn/jboss-tck/osgitck/r4v42

# TCK user
# username=yourname