<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build and test the aQute Bnd tool</description>
  <logRotator>
    <daysToKeep>60</daysToKeep>
    <numToKeep>-1</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svn.jboss.org/repos/jbossas/projects/jboss-osgi/legacy/aQute/trunk</remote>
        <local>aQute.bnd</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <browser class="hudson.scm.browsers.FishEyeSVN">
      <url>http://fisheye.jboss.com/browse/JBossOSGi/</url>
      <rootModule></rootModule>
    </browser>
    <excludedRegions></excludedRegions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <jdk>jdk1.6</jdk>
  <triggers class="vector"/>
  <builders>
    <hudson.tasks.Maven>
      <targets>-U clean install</targets>
    </hudson.tasks.Maven>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>aQute.bnd/**/target/surefire-reports/TEST-*.xml</testResults>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>
