body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14;
}

div.notes {
  color : gray;
  font-size: 12;
}

th {
  font-weight: bold;
}

td {
}

a {
}

h1 {
  font-weight: bold;
  font-size: 20;
}

h2 {
  font-weight: bold;
  font-size: 18;
}

h3 {
  font-weight: bold;
  font-size: 16;
}

