<?xml version='1.0' encoding='UTF-8'?>
<matrix-project>
  <actions class="java.util.concurrent.CopyOnWriteArrayList"/>
  <description>Build and test the JBossOSGi @version.id@ Remote Matrix</description>
  <logRotator>
    <daysToKeep>60</daysToKeep>
    <numToKeep>-1</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty/>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>@hudson.osgi.url@</remote>
        <local>jboss-osgi</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <browser class="hudson.scm.browsers.FishEyeSVN">
      <url>http://fisheye.jboss.com/browse/JBossOSGi</url>
      <rootModule></rootModule>
    </browser>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>0 2 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <axes>
    <axis>
      <name>container</name>
      <values>
        <string>runtime</string>
        <string>jboss501</string>
        <string>jboss510</string>
        <string>jboss600</string>
        <string>jboss601</string>
      </values>
    </axis>
    <axis>
      <name>framework</name>
      <values>
        <string>equinox</string>
        <string>felix</string>
        <string>jbossmc</string>
      </values>
    </axis>
  </axes>
  <combinationFilter>!((container=='jboss501' || container=='jboss510') &amp;&amp; framework=='jbossmc')</combinationFilter>
  <jdk>jdk1.6</jdk>
  <builders>
    <hudson.tasks.Shell>
      <command>
OSGIDIR=$WORKSPACE/jboss-osgi
HUDSONDIR=$OSGIDIR/hudson

export FRAMEWORK=$framework
export CONTAINER=$container

export JBOSS_BINDADDR=@jboss.bind.address@

# copy the maven profile
cp @hudson.maven.profile@ $OSGIDIR/profiles.xml

#
# call command.sh 
#
/bin/sh $HUDSONDIR/hudson-home/command.sh
      </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers class="vector">
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>jboss-osgi/**/target/surefire-reports/TEST-*.xml</testResults>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</matrix-project>
