#
# A sample ant properties file
#
# $Id: ant.properties.example 3995 2007-07-26 08:52:45Z thomas.diesler@jboss.com $

# The JBoss OSGi framework version
framework.version=1.0.0.Alpha4-SNAPSHOT
framework.svn.url=https://svn.jboss.org/repos/jbossas/projects/jboss-osgi/projects/runtime/framework/trunk

# The aQute Bnd version 
aQute.bnd.version=0.0.366-SNAPSHOT

# The location of the OSGi TCK
# osgitck.dir=/home/username/svn/osgi.org/build/trunk

# The location of the local maven repository
# maven.local.repository=/home/username/.m2/repository

# Hudson Setup ----------------------------------------------------------------

# Hudson workspace root
# hudson.root=/home/username/workspace/osgitck

# Hudson QA Environment
# hudson.username=username

# The Hudson OSGi TCK checkout URL
osgitck.svn.url=https://www.osgi.org/members/svn/build/trunk
osgitck.core.svn.url=https://www.osgi.org/members/svn/build/tags/r4v42-core-cmpn-final

# JDK settings
java.home.jdk15=/usr/java/jdk1.5.0_22
java.home.jdk16=/usr/java/jdk1.6.0_17

# Maven setup
hudson.maven.name=apache-maven-2.2.1
hudson.maven.path=/usr/java/apache-maven-2.2.1

hudson.host=localhost
hudson.admin.port=8150
hudson.http.port=8180

apache-tomcat=5.5.27
sun-hudson=1.336
