<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty>
      <projectUrl>http://github.com/jbosgi/jbosgi-framework/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>1</configVersion>
    <remoteRepositories>
      <org.spearce.jgit.transport.RemoteConfig>
        <string>origin</string>
        <int>5</int>
        <string>fetch</string>
        <string>+refs/heads/*:refs/remotes/origin/*</string>
        <string>receivepack</string>
        <string>git-upload-pack</string>
        <string>uploadpack</string>
        <string>git-upload-pack</string>
        <string>url</string>
        <string>git://github.com/jbosgi/jbosgi-framework.git</string>
        <string>tagopt</string>
        <string></string>
      </org.spearce.jgit.transport.RemoteConfig>
    </remoteRepositories>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <mergeOptions/>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <clean>false</clean>
    <choosingStrategy>Default</choosingStrategy>
    <submoduleCfg class="list"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>jdk1.6</jdk>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
export TCKCHECKOUT=$WORKSPACE/tck-checkout
export TCKSETUP=$WORKSPACE/tcksetup

# Clone the TCK repo 
if [ ! -d $TCKCHECKOUT ]; then
  git clone ~@username@/git/osgi/build/master $TCKCHECKOUT
fi

# Build and Install the Framework
cd $WORKSPACE; mvn -Pall clean install

# Switch to known tck-checkout tag 
cd $TCKCHECKOUT; git checkout r4v42-core-cmpn-final

# Setup the TCK
cd $TCKSETUP; cp ant.properties.example ant.properties
ant setup.ri

# Run the package admintests
ant run-packageadmin-tests
      </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>tck-checkout/*/generated/**/test-reports/TEST-*.xml</testResults>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>
